@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Greenwood Crescent,Brampton<br />
    Ontario,Canada<br />
    <abbr title="Phone">P:</abbr>
    647.608.5417
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yuvraj_r@hotmail.com">Yuvraj_r@hotmail.com</a><br />

</address>