@model SimpleCalculatorusingMVC.Models.Calculator
@{
    ViewBag.Title = "Calculator";
}
<style>
    td, th {
        padding: 10px;
        
    }
</style>
<div align="center" >
    <h2>Calculator</h2>
    @using(Html.BeginForm())
    {
    <table>
        <tr>
            <th>First Number</th>
            <td>@Html.EditorFor(x=>x.A)</td>
        </tr>
        <tr>
            <th>Second Number</th>
            <td>@Html.EditorFor(x=>x.B)</td>
        </tr>
        <tr>
            <th>
                <input type="submit" name="Cal" value="Add" class="btn btn-primary" />
                <input type="submit" name="Cal" value="Sub" class="btn btn-primary" />
            </th>
            <th>
                <input type="submit" name="Cal" value="Mul" class="btn btn-primary" />
                <input type="submit" name="Cal" value="Div" class="btn btn-primary" />
            </th>
        </tr>
        <tr>
            <th>Result : </th>
            <td> @Html.DisplayFor(x => x.Result)</td>
        </tr>
    </table>
    }
</div>